/* Navbar Style */

/* Make the navbar white */

.navbar-white {
  background-color: #fff;
  color: #000;
}

/* Add a shadow to it */

.navbar-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

/* Remove the border from the navbar buttons */

.navbar-white .navbar-toggler {
  border-color: transparent;
}

/* Set the navbar brand's height and animate it*/

.navbar-brand>img {
  height: 30px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media screen and (max-width: 370px) {
  .navbar-brand>img {
    height: 25px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-brand>img {
    height: 20px;
  }
}

/* Make the navbar animations uniform with the rest */

.collapsing {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* Container Style */

/* Remove padding from main container, make white, add material design shadow
  and animation for smooth resizing */

.container-main {
  padding: 0;
  margin-top: 3.5rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* Add a padding to the post (the actual content) */

.container-post {
  padding: 3rem;
}

/* Remove the padding from the last element in the container for uniform look */

.container-post>*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Footer Style */

.footer-text {
  color: rgba(0, 0, 0, .5);
  margin-top: 1rem;
}

.footer-text>a {
  color: #000;
}

/* Header Text Style */

/* Use flexbox to create a column */

.header-description {
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 4rem;
  background: linear-gradient(transparent, white);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

/* Dark background if on main page */

.header-description-dark {
  background: linear-gradient(transparent, #000);
  color: #fff;
}

/* Remove the border from cards */

.card-header-discription {
  border: 0;
  border-radius: 0;
  /* Make all headers look uniform */
  max-height: 600px;
  overflow: hidden;
}

.card-header-discription .card-img {
  border-radius: 0;
}

/* Text utils */

/* Prevent the side-scroll bug in mobile browsers by using float */

.text-float-left {
  text-align: left;
  float: left;
}

.text-float-right {
  text-align: right;
  float: right;
}

/* Add a black color */

.text-black {
  color: #000;
}

/* Home page styles */

/* Remove the padding from the left col */

.home-right-row .col-md-8 {
  padding: 0;
}

/* Make the cards smaller and prevent the images from glitching out from the bottom */

.home-right-row .card {
  max-height: 300px;
  overflow: hidden;
}

/* Search styles */

/* Add a margin to the top to prevent it from glitching beneath the navbar */

.container-search-bar {
  margin-top: 5rem;
}

/* Responsive utils */

@media screen and (max-width: 1254px) {
  .navbar-info-container {
    display: none!important;
  }
}

@media screen and (min-width: 1255px) {
  .navbar-normal-brand {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header-description {
    background: linear-gradient(rgba(255, 255, 255, 0.8), white);
    padding: 8vw;
  }
  .header-description-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    color: #fff;
    padding-bottom: 2vw;
    line-height: 3rem;
  }
  .container-post {
    padding: 8vw;
  }
  .text-float-left {
    text-align: left;
    float: none;
    display: block;
  }
  .text-float-right {
    text-align: left;
    float: none;
    display: block;
  }
}

@media screen and (max-width: 405px) {
  .header-description {
    padding: 4vw;
  }
  .container-post {
    padding: 4vw;
  }
  h1.card-title {
    font-size: 1.9rem;
  }
  h5.card-text {
    font-style: italic;
    font-size: 1rem;
  }
}

@media screen and (max-width: 345px) {
  .header-description-dark span {
    display: none;
  }
}