/* Navbar Style */

/* Make the navbar white */

.navbar-white {
  background-color: #fff;
  color: #000;
}

/* Add a shadow to it */

.navbar-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

/* Remove the border from the navbar buttons */

.navbar-white .navbar-toggler {
  border-color: transparent;
}

/* Set the navbar brand's height and animate it*/

.navbar-brand>img {
  height: 30px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media screen and (max-width: 370px) {
  .navbar-brand>img {
    height: 25px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-brand>img {
    height: 20px;
  }
}

/* Container Style */

/* Remove padding from main container, make white, add material design shadow
  and animation for smooth resizing */

.container-main {
  padding: 0;
  margin-top: 3.5rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* Add a padding to the post (the actual content) */

.container-post {
  padding: 3rem;
}

/* Remove the padding from the last element in the container for uniform look */

.container-post>*:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Footer Style */

.footer-text {
  color: rgba(0, 0, 0, .5);
  margin-top: 1rem;
}

.footer-text>a {
  color: #000;
}

/* Header Text Style */

/* Use flexbox to create a column */

.header-description {
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 4rem;
  background: linear-gradient(transparent, white);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

/* Remove the border from cards */

.card-header-discription {
  border: 0;
}

/* Text utils */

/* Prevent the side-scroll bug in mobile browsers by using float */

.text-float-left {
  text-align: left;
  float: left;
}

.text-float-right {
  text-align: right;
  float: right;
}

/* Responsive Utils */

@media screen and (max-width: 500px) {
  .header-description {
    background: linear-gradient(rgba(255, 255, 255, 0.8), white);
    padding: 8vw;
  }
  .container-post {
    padding: 8vw;
  }
  .text-float-left {
    text-align: left;
    float: none;
    display: block;
  }
  .text-float-right {
    text-align: left;
    float: none;
    display: block;
  }
}

@media screen and (max-width: 385px) {
  .header-description {
    padding: 4vw;
  }
  .container-post {
    padding: 4vw;
  }
  h1.card-title {
    font-size: 1.9rem;
  }
  h5.card-text {
    font-style: italic;
    font-size: 1rem;
  }
}