---
title: Ankündigungen
subpagename: Ankuendigungen
subpagedescription: Bleiben Sie informiert, unabhängig und unaufdringlich illustriert
imgsrc: subpage-bg-ankuendigungen.jpg
imgalt: Bild eines Radios um 1900
layout: subpage
---

<div class="container-fluid pt-3">
  <div class="card-columns card-columns-horoscope card-columns-announcement">
    {% include card-announcement.html 
      imgsrc="announcement-heirat.jpg"
      imgalt="Ein Bild von Heerbrandt und Veronika"
    %}
    {% include card-announcement.html 
      imgsrc="announcement-melden-sie-sich.jpg"
      imgalt="Meldungen zur Suche nach Anselmus und Serpentina"
    %}
    {% include card-announcement.html 
      imgsrc="announcement-paulmann-geburtstag.jpg"
      imgalt="Geburtstag Paulmann"
    %}
    {% include card-announcement.html 
      imgsrc="announcement-klavierabend.jpg"
      imgalt="Klavierabend von Veronika Paulmann"
    %}
  </div>
</div>