---
title: Partnerbörse
subpagename: Partnerboerse
subpagedescription: Finden Sie ihren Seelenpartner anhand von Illustrationen
imgsrc: subpage-bg-partnerboerse.jpg
imgalt: Bild eines Liebespaares
layout: subpage
---

<div class="row">
  <div class="col-md-6">
    <h2>Sie sucht ihn</h2>
  </div>
  <div class="col-md-6">
    <h2>Er sucht sie</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {% include card-partnerboerse.html 
        imgsrc="ad-veronika.jpg"
      %}
  </div>
  <div class="col-md-6">
    {% include card-partnerboerse.html 
        imgsrc="ad-heerbrandt.jpg"
      %}
  </div>
</div>