<h5 class="pt-3">Ähnliche Artikel</h5>
<div class="dropdown-divider"></div>
<div class="container-fluid container-recommended">
  <div class="row">
    <!-- Render 3 cards (optionally from the same category as this post), but not the post itself -->
    {% for post in site.posts limit:3 %}
      {% unless post == page %}
        <div class="col-xl-4">
          {% include card-recommended.html
          title=post.title
          subtitle=post.subtitle
          imgsrc=post.img
          imgalt=post.img_alt
          href=post.url %}
        </div>
      {% endunless %}
    {% endfor %}
    </div>
</div>