<div class="container-post container-information pb-3 pt-3">
  <!-- The posts's place and date -->
  <span class="text-float-left text-muted mb-0">
    {{ page.place }}, den 
    <!-- Use German date formats -->
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%-d" }}
    {% case m %}
      {% when '1' %}Januar
      {% when '2' %}Februar
      {% when '3' %}M&auml;rz
      {% when '4' %}April
      {% when '5' %}Mai
      {% when '6' %}Juni
      {% when '7' %}Juli
      {% when '8' %}August
      {% when '9' %}September
      {% when '10' %}Oktober
      {% when '11' %}November
      {% when '12' %}Dezember
    {% endcase %}
    {{ page.date | date: "%Y" }}
  </span>
  <!-- The posts's author -->
  <span class="text-float-right text-muted mb-0">Verfasser: {{ page.author }}</span>
</div>