<nav class="navbar navbar-expand-* navbar-light navbar-white navbar-shadow fixed-top">
  <!-- Navbar toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ion-navicon"></span>
  </button>

  <div class="container navbar-info-container">

    <!-- Info-text about type of news  -->
    <span class="navbar-text">Wöchentliches Informationsblatt</span>
    <!-- The brand -->
    <a class="navbar-brand" href="/">
      <img src="{{ site.baseurl }}/img/logo.svg" alt="Die Illustrierte Logo">
    </a>
    <!-- Info-text about type of news  -->
    <span class="navbar-text">{{  page.version_scope}} vom {{ page.last_edit}}</span>
  </div>

  <!-- The brand -->
  <a class="navbar-brand navbar-normal-brand" href="/">
    <img src="{{ site.baseurl }}/img/logo.svg" alt="Die Illustrierte Logo">
  </a>

  <!-- Search button -->
  <a class="navbar-toggler" href="{{ site.baseurl }}/search" aria-label="Navigate to search">
    <span class="ion-android-search"></span>
  </a>

  <!-- Navbar-nav -->
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item {% if page.url == "/" %}active{% endif %}">
        <a href="{{ site.baseurl }}/" class="nav-link">Startseite</a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item {% if page.url == "/schlagzeilen.html" %}active{% endif %}">
        <a href="{{ site.baseurl }}/schlagzeilen" class="nav-link">Schlagzeilen</a>
      </li>
      <li class="nav-item {% if page.url == "/rueckblick.html" %}active{% endif %}">
        <a href="{{ site.baseurl }}/rueckblick" class="nav-link">Rückblick</a>
      </li>
      <li class="nav-item {% if page.url == "/Weitblick.html" %}active{% endif %}">
        <a href="{{ site.baseurl }}/weitblick" class="nav-link">Weitblick</a>
      </li>
      <li class="nav-item {% if page.url == "/ausblick.html" %}active{% endif %}">
        <a href="{{ site.baseurl }}/ausblick" class="nav-link">Ausblick</a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="nav-item {% if page.url == "/buchclub.html" %}active{% endif %}">
        <a href="{{ site.baseurl }}/buchclub" class="nav-link">Buchclub</a>
      </li>
    </ul>
  </div>
</nav>