<nav class="navbar navbar-expand-* navbar-light navbar-white navbar-shadow fixed-top">
  <!-- Navbar toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ion-navicon"></span>
  </button>

  <div class="container navbar-info-container">

    <!-- Info-text about type of news  -->
    <span class="navbar-text">Wöchentliches Informationsblatt</span>
    <!-- The brand -->
    <a class="navbar-brand" href="/">
      <img src="{{ site.baseurl }}/img/logo.svg" alt="Die Illustrierte Logo">
    </a>
    <!-- Info-text about type of news  -->
    <span class="navbar-text">{{  page.version_scope}} vom {{ page.last_edit}}</span>
  </div>

  <!-- The brand -->
  <a class="navbar-brand navbar-normal-brand" href="/">
    <img src="{{ site.baseurl }}/img/logo.svg" alt="Die Illustrierte Logo">
  </a>

  <!-- Search button -->
  <a class="navbar-toggler" href="{{ site.baseurl }}/search" aria-label="Navigate to search">
    <span class="ion-android-search"></span>
  </a>

  <!-- Navbar-nav -->
  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="container">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item {% if page.url == "/" %}active{% endif %}">
          <a href="{{ site.baseurl }}/" class="nav-link text-center">Startseite</a>
        </li>
        <div class="dropdown-divider"></div>
        <div class="row">
          <div class="col">
            <li class="nav-item {% if page.url == "/schlagzeilen.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/schlagzeilen.html" class="nav-link text-center">Schlagzeilen</a>
            </li>
          </div>
          <div class="col">
            <li class="nav-item {% if page.url == "/rueckblick.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/rueckblick.html" class="nav-link text-center">Rückblick</a>
            </li>
          </div>
          <div class="col">
            <li class="nav-item {% if page.url == "/weitblick.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/weitblick.html" class="nav-link text-center">Weitblick</a>
            </li>
          </div>
          <div class="col">
            <li class="nav-item {% if page.url == "/ausblick.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/ausblick.html" class="nav-link text-center">Ausblick</a>
            </li>
          </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row">
          <div class="col">
            <li class="nav-item {% if page.url == "/buchclub.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/buchclub.html" class="nav-link text-center">Buchclub</a>
            </li>
          </div>
          <div class="col">
            <li class="nav-item {% if page.url == "/kultur.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/kultur.html" class="nav-link text-center">Kultur und Bildung</a>
            </li>
          </div>
        </div>
        
        <div class="dropdown-divider"></div>
        
        <div class="row">
          <div class="col">
            <li class="nav-item {% if page.url == "/partnerboerse.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/partnerboerse.html" class="nav-link text-center">Partnerbörse</a>
            </li>
          </div>
          <div class="col">
            <li class="nav-item {% if page.url == "/stellenanzeigen.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/stellenanzeigen.html" class="nav-link text-center">Stellenanzeigen</a>
            </li>
          </div>
          <div class="col">
            <li class="nav-item {% if page.url == "/ankuendigungen.html" %}active{% endif %}">
              <a href="{{ site.baseurl }}/ankuendigungen.html" class="nav-link text-center">Ankündigungen</a>
            </li>
          </div>
        </div>

      </ul>
    </div>
  </div>
</nav>