<!doctype html>
<html lang="de">

<head>
  <!-- Site title -->
  <title>Die Illustrierte | {{ page.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Iconicons -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
</head>

<body>

  <!-- Navigation -->
  {% include navbar-main.html %}

  <div class="container container-main">

    <!-- Header image and the post's title -->
    {% include card-post-header.html %}
    <!-- The post's meta -->
    {% include meta-post.html %}

    <!-- Main content -->
    <div class="container-post">
      {{content}}
      <!-- Recommended section -->
      {% include footer-recommended.html %}
    </div>
  </div>

  <!-- Footer -->
  {% include footer-main.html %}

  <!-- JQuery -->
  <script src="{{ site.baseurl }}/js/jquery-3.2.1.slim.min.js"></script>
  <!-- Popper.js for tooltips -->
  <script src="{{ site.baseurl }}/js/popper.min.js"></script>
  <!-- Bootstrap -->
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>

</html>