<!doctype html>
<html lang="de">

<head>
  <!-- Site title -->
  <title>Die Illustrierte | {{ page.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Iconicons -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
</head>

<body>

  <!-- Navigation -->
  {% include navbar-main.html %}

  <!-- Hero post-->
  <div class="container container-main">
    <!-- Show the most recent featured post -->
    {% for post in site.categories.featured limit:1 %}
      {% include card-home.html
          title=post.title
          subtitle=post.subtitle
          imgsrc=post.img
          imgalt=post.img_alt
          href=post.url %}
    {% endfor %}
    <!-- Grid of posts -->
    <div class="container home-right-row">
      <div class="row">
        <!-- All posts, except misc and the first featured post -->
        <div class="col-md-8">
          {% for post in site.posts limit:5 %}
           {% unless post.category contains "featured" or post.category contains "misc" %}
            {% include card-home.html
                title=post.title
                subtitle=post.subtitle
                imgsrc=post.img
                imgalt=post.img_alt
                href=post.url %}
           {% endunless %}
           {% if post.category contains "featured" %}
              {% assign firstPost = site.categories.featured | first %}
              {% unless post == firstPost %}
                {% include card-home.html
                  title=post.title
                  subtitle=post.subtitle
                  imgsrc=post.img
                  imgalt=post.img_alt
                  href=post.url %}
              {% endunless %}
           {% endif %}
          {% endfor %}
        </div>
        <!-- Short posts -->
        <div class="col-md-4">
          <h5 class="pt-2">Kurz gefasst</h5>
          <div class="dropdown-divider"></div>
          <ul class="list-unstyled">
            <!-- Loop through the first 10 posts in the 'misc' category -->
            {% for post in site.categories.misc limit: 10 %}
                {% include message-home-small.html
                  href=post.url
                  title=post.title
                  excerpt=post.subtitle %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Optional content -->
      {{content}}
    </div>
  </div>

  <!-- Footer -->
  {% include footer-main.html %}

  <!-- JQuery -->
  <script src="{{ site.baseurl }}/js/jquery-3.2.1.slim.min.js"></script>
  <!-- Popper.js for tooltips -->
  <script src="{{ site.baseurl }}/js/popper.min.js"></script>
  <!-- Bootstrap -->
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>

</html>
