<!doctype html>
<html lang="de">

<head>
  <!-- Site title -->
  <title>Die Illustrierte | {{ page.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Iconicons -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
</head>

<body>

  <!-- Navigation -->
  {% include navbar-main.html %}

  <!-- Hero post-->
  <div class="container container-main">
    {% include card-home.html
            title=page.main_post_title
            subtitle=page.main_post_subtitle
            imgsrc=page.main_post_img 
            imgalt=page.main_post_img_alt
            href=page.main_post_link %}
    <!-- Grid of posts -->
    <div class="container home-right-row">
      <div class="row">
        <!-- Featured posts -->
        <div class="col-md-8">
          {% include card-home.html
            title='Jetzt beten sie sogar schon Bäume an!'
            subtitle='Alkoholkonsum unter Studenten stark angestiegen'
            imgsrc=page.main_post_img 
            imgalt='Frankfurt im 20. Jahrhundert' 
            href=page.main_post_link %}
          {% include card-home.html
            title='Jetzt beten sie sogar schon Bäume an!'
            subtitle='Alkoholkonsum unter Studenten stark angestiegen'
            imgsrc=page.main_post_img 
            imgalt='Frankfurt im 20. Jahrhundert' 
            href=page.main_post_link %}
        </div>
        <!-- Short posts -->
        <div class="col-md-4">
          <h5 class="pt-2">Kurz gefasst</h5>
          <div class="dropdown-divider"></div>
          <ul class="list-unstyled">
            {% include message-home-small.html
              href=page.main_post_link
              title='Der Abendwind zieht weiter'
              excerpt='Cras sit amet nibh libero, in gravida nulla.' %}
            {% include message-home-small.html
              href=page.main_post_link
              title='Dresden unter Wasser'
              excerpt='Donec lacinia congue felis in faucibus.' %}
            {% include message-home-small.html
              href=page.main_post_link
              title='Schneesturm trifft Ostküste'
              excerpt='Nulla vel metus scelerisque ante sollicitudin.' %}
          </ul>
        </div>
      </div>
      <!-- Optional content -->
      {{content}}
    </div>
  </div>

  <!-- Footer -->
  {% include footer-main.html %}

  <!-- JQuery -->
  <script src="{{ site.baseurl }}/js/jquery-3.2.1.slim.min.js"></script>
  <!-- Popper.js for tooltips -->
  <script src="{{ site.baseurl }}/js/popper.min.js"></script>
  <!-- Bootstrap -->
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>

</html>
